@import url('https://fonts.googleapis.com/css2?family=Itim&family=Roboto:ital,wght@1,100;1,300&family=Sriracha&display=swap');
*{
	font-family: 'Itim', cursive;
	font-size:30px;
	margin: 0;
    padding: 0;
	line-height: 0.5rem;
}
.index{
	width: 100%;
	min-height: 100vh;
	background-image: url(img/bokeh.png);
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center;
	display: grid;
	border: 0;
	text-align: center;
}
h1{
	margin-top: 100px;
	font-size: 50px
}
di{
	margin-top: 200px;
}
textarea{
	width: 600px;
	height: 400px;
	padding: 15px;
	resize: none;
	margin-top: 100px;
	border-radius: 10px;
	line-height: 25px;
	font-size: 25px;
}
button{
	margin: 100px;
	padding: 10px;
	cursor: pointer;
}
.choice a{
	padding: 10px 40px;
	font-size: 1rem;
	text-decoration: none;
	color: #000000;
	left: 50px;
	top: 50px;
}
.choice li:hover{
	background-color:#B2FFF8;
	border-radius: 25px;
	border-color: #F8C826;
	transition: 0.2s all linear;
	transform: scale(1.5);
	box-shadow: 0 0 20px 10px #B2FFF8;
}